.cta-container {
    background-image: url("images/spain-7322412_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 3vw;
}

.card {
    width: 60vw;
    max-width: 400px;
    min-width: 280px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3vw;
    text-align: center;
    position: relative;
    top: -5vh;
}


.cta-text {
    /*clamp: tamañominimo, tamaño dinamico(según el ancho), tamaño maximo */
    font-size: clamp(1.5rem, 4vw, 2rem);
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Poppins', serif;
    font-weight: bold;
    color: #2bd5d5;
}

.card p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: #217e79;
}

.cta-button {
    font-size: clamp(1rem, 2vw, 1.25rem);
    text-transform: uppercase;
    padding: 0.8em 1.5em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #217e79;
    transform: scale(1.5);
}





.text {
    font-family: 'Notable', serif;
    text-align: center;
    position: absolute;
    padding: 20vh;
    margin-bottom: 85vh;
    font-size: 4.5rem;
    background: url('https://images.unsplash.com/photo-1567459169668-95d355371bda?fit=crop&w=1349&q=80');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.notable-regular {
    font-family: "Notable", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}